{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-twbs-bootstrap"
  ],
  "rules": {
    "selector-max-compound-selectors": null,
    "selector-max-type": null
  }
}